﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model GateLog.ViewModels.LoginViewModel

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="jumbotron bg-primary"><div class="container" style="text-align: center" ><span class="display-1 text-white">GateLog</span></div></div>

<div style="margin-top: 15%" class="row">
    <div class="col"></div>
    <div class="col card">
        <div class="card-header bg-primary text-white display-3" style="text-align: center">Log In</div>
        <div style="margin-left: 5%" class="card-body">
            <form method="post" action="Login">

                <ul style="list-style-type: none">
                    <li>
                        <div>
                            <label>Username</label>
                            <input type="text" asp-for="UserName" />
                        </div>
                    </li>
                    <li>
                        <div>
                            <label>Password&nbsp;</label>
                            <input type="password" asp-for="Password" />
                        </div>
                    </li>
                </ul>
                <div style="margin-left: 40%"><input type="submit" value="Login" /></div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            </form>
        </div>
    </div>
    <div class="col"></div>
</div>