﻿
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model GateLog.ViewModels.SearchViewModel
@using GateLog.Models


@{
    if (Model.IsNextPage == true)
    {
        Model.NextIndex = Model.CurrentIndex + 200;
    }
    if (Model.CurrentIndex != 0)
    {
        Model.PreviousIndex = Model.CurrentIndex - 200;
    }
}


<header>


    @section script{
        <script type="text/javascript">
            button1 = document.getElementById("History1");
            button2 = document.getElementById("History2");
            button1.classList.add("active");
            button2.classList.add("active");
        </script>

    }

</header>

<style>
    table, tr, th, td {
        border: none;
        font-weight: bolder;
    }

        table a, a:visited, a:hover, a:active {
            color: white;
        }
</style>

@section header{
    History
}


<div style="margin-top:2%; margin-bottom:2%" class="row">
    <div class="col"></div>
    <div class="col">
        <div>
            <label class="text-white" style="margin-left: 2%; padding-left: 1%; padding-right: 1%">Search</label>
            <input type="text" id="HistorySearchBar" />
        </div>
    </div>
    <div class="col"></div>
</div>
<div class="text-white" style="font-size: .8em; margin-left: 20%">
    <ul>
        <li>Search by carrier, tractor number, trailer number, trip number, or company.</li>
        <li>All related carriers will be matched. (Typing arka for ARKA will include BJT trailers etc.)</li>
        <li>Enter + to search multiple fields. (arka + empty will display all empty arka/bjt trailers.)</li>
    </ul>
</div>


<table id="HistoryTable" class="table table-striped table-hover table-bordered table-primary">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Carrier</th>
            <th>Tractor</th>
            <th>Trailer</th>
            <th>Trip</th>
            <th>Seal/Empty</th>
            <th>Shipper</th>
            <th>In/Out</th>
            <th>Door</th>
            <th>Company</th>
            <th>Submit/Edit</th>
        </tr>
    </thead>
    <tbody id="HistoryBody">
        @for (int i = 0; i < Model.Trucks.Count; i++)
        {
            Truck @t = Model.Trucks[i];
            {
                <tr id="@i">
                    <td> @t.DateAndTime.Month/@t.DateAndTime.Day/@t.DateAndTime.Year</td>
                    <td>@t.DateAndTime.TimeOfDay.ToString().Substring(0, 5)</td>
                     @if (t.Carrier != null && t.Carrier.Length > 10)
                    {
                        string output = "";
                        <td>
                        @for (int i2 = 0; t.Carrier.Length - i2 >= 10; i2 += 10)
                        {
                            string s = t.Carrier.Substring(i2, 10);
                            @s <br />
                            
                            if (t.Carrier.Length - (i2 + 10) > 0 && t.Carrier.Length - (i2 + 10) < 10)
                            {

                                output += t.Carrier.Substring(i2 + 10, t.Carrier.Length - (i2 + 10));
                                @output <br /> 
                            }
                        }
                        
                        </td>
                    }
                    else
                    {
                        <td>
                            @if(@t.Carrier  != null){
                                @t.Carrier
                            }
                        </td>

                    }
                    <td style="display: none">@t.Carrier</td>
                    <td>@t.Tractor</td>
                    @if (t.Trailer != null && t.Trailer.Length > 7)
                    {
                        string output = "";
                        <td>
                        @for (int i2 = 0; t.Trailer.Length - i2 >= 7; i2 += 7)
                        {
                            string s = t.Trailer.Substring(i2, 7);
                            @s <br />
                            
                            if (t.Trailer.Length - (i2 + 7) > 0 && t.Trailer.Length - (i2 + 7) < 7)
                            {

                                output += t.Trailer.Substring(i2 + 7, t.Trailer.Length - (i2 + 7));
                                @output <br /> 
                            }
                        }
                        
                        </td>
                    }
                    else
                    {
                        <td>
                            @if(@t.Trailer  != null){
                                @t.Trailer
                            }
                        </td>

                    }
                    <td style="display: none">@t.Trailer</td>
                    <td>
                        @if (t.Trip != null && t.GetTrips().Length > 1)
                        {
                            @foreach (string @trip in t.GetTrips())
                            {
                                @trip<br />

                            }
                        }
                        else
                        {
                            @t.Trip

                        }
                    </td>
                    <td style="display: none">@t.Trip</td>

                    @if (@t.IsEmpty == true)
                    {
                        <td>Empty</td>

                    }
                    @if (@t.InDropLot == true)
                    {
                        <td>Drop Lot</td>

                    }

                    @if (@t.IsRelay == true)
                    {
                        <td>Relay</td>

                    }

                    @if (@t.InDropLot == false && t.IsRelay == false && t.IsEmpty == false)
                    {
                         @if (t.Seal != null && t.Seal.Length > 7)
                    {
                        string output = "";
                        <td>
                        @for (int i2 = 0; t.Seal.Length - i2 >= 7; i2 += 7)
                        {
                            string s = t.Seal.Substring(i2, 7);
                            @s <br />
                            
                            if (t.Seal.Length - (i2 + 7) > 0 && t.Seal.Length - (i2 + 7) < 7)
                            {

                                output += t.Seal.Substring(i2 + 7, t.Seal.Length - (i2 + 7));
                                @output <br /> 
                            }
                        }
                        
                        </td>
                    }
                    else
                    {
                        <td>
                            @if(@t.Seal  != null){
                                @t.Seal
                            }
                        </td>

                    }

                    }


                    @if (t.Shipper != null && t.Shipper.Length > 7)
                    {
                        string output = "";
                        <td>
                        @for (int i2 = 0; t.Shipper.Length - i2 >= 7; i2 += 7)
                        {
                            string s = t.Shipper.Substring(i2, 7);
                            @s <br />
                            
                            if (t.Shipper.Length - (i2 + 7) > 0 && t.Shipper.Length - (i2 + 7) < 7)
                            {

                                output += t.Shipper.Substring(i2 + 7, t.Shipper.Length - (i2 + 7));
                                @output <br /> 
                            }
                        }
                        
                        </td>
                    }
                    else
                    {
                        <td>
                            @if(@t.Shipper  != null){
                                @t.Shipper
                            }
                        </td>

                    }
                    @if (@t.InOrOut == InOutEnum.In)
                    {
                        <td>In</td>

                    }
                    @if (@t.InOrOut == InOutEnum.Out)
                    {
                        <td>Out</td>
                    }

                    @if (@t.InYard == true)
                    {
                        <td>Yard</td>

                    }

                    @if (@t.OnFence == true)
                    {
                        <td>On Fence</td>

                    }

                    @if (@t.OnFence == false && @t.InYard == false)
                    {
                        <td>@t.Door</td>
                    }

                    @if (t.Company == 0)
                    {
                        <td>
                            NONE
                        </td>
                    }
                    @if (t.Company == CompanyEnum.NCS)
                    {
                        <td>
                            NCS
                        </td>

                    }
                    @if (t.Company == CompanyEnum.ESSENDANT)
                    {
                        <td>
                            ESSENDANT
                        </td>

                    }

                    <td>
                        <table style="border:none; background-color: transparent">
                            <tr style="border:none; background-color: transparent">
                                <td style="border:none; padding: 0%; background-color: transparent">
                                    <a class="btn btn-sm bg-primary" asp-action="EditTruck" asp-controller="Edit" asp-route-id="@t.Id">Edit</a>
                                </td>
                                @if (@t.InOrOut == @InOutEnum.In && !t.IsEmpty && !t.IsRelay && !t.InDropLot &&
!(t.Trailer == null))
                                {
                                    <td style="border:none; padding: 0%; background-color: transparent">
                                        <a class="btn btn-sm btn-primary" asp-action="PrintPage" asp-controller="Print" asp-route-Id="@t.Id">Print</a>
                                    </td>
                                }
                            </tr>
                        </table>
                    </td>
                </tr>


            }

        }

    </tbody>
</table>
    </div>
@if (@Model.Trucks.Count == 0)
{
    <p>Sorry. No Trucks have been recorded yet.</p>

}

<br />
<br />

@if (@Model.IsFirstPage == false && @Model.IsNextPage == true)
{
    <div style="font-size: 3em; margin-left: 30%">
        <ul class="pagination">
            <li class="page-item"><a class="text-primary page-link" asp-action="HistoryPage" asp-route-i="@Model.PreviousIndex">Previous</a></li>
            <li class="page-item"><a class="text-primary page-link" asp-action="HistoryPage" asp-route-i="@Model.NextIndex">&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;</a></li>
        </ul>
    </div>
}
@if (@Model.IsFirstPage == false && @Model.IsNextPage == false)
{
    <div style="font-size: 3em; margin-left: 40%">
        <ul class="pagination">
            <li class="page-item"><a asp-action="HistoryPage" class="text-primary page-link" asp-route-i="@Model.PreviousIndex">Previous</a></li>
        </ul>
    </div>
}
@if (@Model.IsNextPage == true && @Model.IsFirstPage == true)
{
    <div style="font-size: 3em; margin-left: 40%">
        <ul class="pagination">
            <li class="page-item">
                <a asp-action="HistoryPage" class="text-primary page-link" asp-route-i="@Model.NextIndex">&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;</a>
            </li>
        </ul>
    </div>
}

@await Component.InvokeAsync("JsCarrierMap");

<script type="text/javascript">
    var HistoryTable = document.getElementById("HistoryTable");
    var HistoryBody = document.getElementById("HistoryBody");
    var HistorySearchBar = document.getElementById("HistorySearchBar");
    var tBodyChildren = HistoryBody.children;
    var tBodyTR = "";
    var tBodyTRChildren = "";
    var trailerRow = "";
    var allTrailerRows = [];
    var clonedTrailerRows = [];

    function makeTrailerTR(_carrier, _Trc, _Trl, _Trip, _Company, _iD) {
        return {
            carrier: _carrier,
            Trc: _Trc,
            Trl: _Trl,
            Trip: _Trip,
            Company: _Company.trim(),
            iD: _iD,

            cloneTrailerTR: function () {
                return makeTrailerTR(this.carrier, this.Trc, this.Trl, this.Trip, this.Company, this.iD);
            }
        };
    }


    function loadAllTrailerRows() {
        for (i1 = 0; i1 < tBodyChildren.length; i1++) {
            tBodyTR = tBodyChildren[i1];
            tBodyTRChildren = tBodyTR.children;
            trailerRow = makeTrailerTR(tBodyTRChildren[3].textContent, tBodyTRChildren[4].textContent, tBodyTRChildren[6].textContent, tBodyTRChildren[8].textContent, tBodyTRChildren[13].textContent, i1);
            allTrailerRows.push(trailerRow);
        }

    }

    function loadClonedTrailerRows() {
        clonedTrailerRows = [];
        for (i2 = 0; i2 < allTrailerRows.length; i2++) {
            clonedTrailerRows.push(allTrailerRows[i2].cloneTrailerTR());
        }
    }

    function showAndHideRows() {
        tBodyChildren[0].style.display = "none";
        let inIDs = [];
        for (i = 0; i < clonedTrailerRows.length; i++) {
            inIDs.push(clonedTrailerRows[i].iD);
        }
        for (i = 0; i < tBodyChildren.length; i++) {
            if (inIDs.indexOf(i) != -1) {
                if (tBodyChildren[i].style.display === 'none') {
                    tBodyChildren[i].style.display = '';
                }
            }
            else {
                tBodyChildren[i].style.display = 'none';
            }
        }

    }

    function filterByCarrier(textValue) {
        let carrier = "";
        let relatedCarrier = [];
        let Trc = "";
        let Trl = "";
        let Trip = "";
        let Company = "";
        let outList = [];
        let boolBox = false;
        
        loop1:
        for (i = 0; i < clonedTrailerRows.length; i++) {
            boolBox = false;
            carrier = clonedTrailerRows[i].carrier;
            Trc = clonedTrailerRows[i].Trc;
            Trl = clonedTrailerRows[i].Trl.toUpperCase().trim();
            Trip = clonedTrailerRows[i].Trip;
            Company = clonedTrailerRows[i].Company;
            iD = clonedTrailerRows[i].iD;
            if (!(typeof (CarrierMap[carrier]) === 'undefined')) {
                relatedCarrier = CarrierMap[carrier];
            }
            if (carrier.indexOf(textValue) == 0) {
                continue loop1;
            }

            if (Trc.indexOf(textValue) == 0) {
                continue loop1;

            }
            if (Trl.indexOf(textValue) == 0) {
                continue loop1;

            }

            
            if (Trip.indexOf(textValue) == 0) {
                continue loop1;

            }
            if (Company.indexOf(textValue) == 0) {
                continue loop1;

            }

            if (typeof (CarrierMap[carrier]) === 'undefined') {
                outList.push(iD);
                continue loop1;
            }

            if (relatedCarrier[0] !== "No Related Carriers") {
                loop2:
                for (i2 = 0; i2 < relatedCarrier.length; i2++) {
                    if (relatedCarrier[i2].indexOf(textValue) == 0) {
                        boolBox = true;
                        break loop2;

                    }
                }
                if (boolBox == true) {
                    continue loop1;
                }
            }
            outList.push(iD);

        }
        let length = allTrailerRows.length;
        let i3 = 0;
        for (i = 0; i < length; i++) {
            if (i3 == outList.length) {
                break;

            }
            if (clonedTrailerRows[i - i3].iD == outList[i3]) {
                clonedTrailerRows.splice(i - i3, 1);
                i3++;
            }

        }
    }

    function updateTable() {
        loadClonedTrailerRows();
        showAndHideRows();
        let textArguments = HistorySearchBar.value.split("+");
        let textValue = "";
        for (outerIndex = 0; outerIndex < textArguments.length; outerIndex++) {
            textValue = textArguments[outerIndex].toUpperCase().trim();
            filterByCarrier(textValue);
        }
        showAndHideRows();
    }
    loadAllTrailerRows();
    HistorySearchBar.addEventListener("keyup", function () { updateTable(); });
</script>

<script type="text/javascript">
    cont = document.getElementById("cont");
    cont.classList.remove("container");
    cont.classList.add("container-fluid");
</script>
