﻿
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GateLog.ViewModels.CriteriaViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<header>


    @section script{
        <script type="text/javascript">
            button1 = document.getElementById("Search1");
            button2 = document.getElementById("Search2");
            button1.classList.add("active");
            button2.classList.add("active");
            cont = document.getElementById("cont");
            cont.classList.remove("bg-light");
            cont.classList.add("bg-primary");
        </script>
    }
    @*<script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
</header>
@section header{
    Search
}

@if (Model.WantsCSV)
{
    <input type="hidden" id="Line" asp-for="Line" />
    <input type="hidden" id="WantsCsv" value="true" />

}
else
{
    <input type="hidden" id="WantsCsv" value="false" />

}
<br /><br />
<table style="border: none" class="text-white">
    <tr style="border: none">
        <td style="border: none">
            <form asp-action="SearchResults" asp-route-Trip="@Model.Trip">
                <div>
                    <label for="Trip">Search By Trip Number: </label>
                    <input type="text" asp-for="Trip" name="Trip" />
                    <input class="btn btn-light" style="margin-left: 1%; display: inline" type="submit" value="Search" name="search1" />
                </div>
            </form>
        </td>


        <td style="border: none">
            <h2 style="margin-left: 25%">Advanced Search</h2>
            <form asp-action="SearchPage" method="post">
                <table style="border: none">
                    <tr style="border: none">
                        <th style="border: none">Time From</th>
                        <th style="border: none">Time To</th>
                        <th style="border: none">Truck Details</th>
                    </tr>
                    <tr style="border: none">

                        <td style="border: none">
                            <table style="border: none">
                                <tr>
                                    <th>Year</th>
                                    <td><input asp-for="Year1" name="Year1" type="text" /></td>
                                </tr>
                                <tr>
                                    <th>Month</th>
                                    <td><input asp-for="Month1" name="Month1" type="text" /></td>
                                </tr>
                                <tr>
                                    <th>Day</th>
                                    <td><input asp-for="Day1" name="Day1" type="text" /></td>
                                </tr>
                                <tr>
                                    <th>Hour</th>
                                    <td><input asp-for="Hour1" name="Hour1" type="text" /></td>
                                </tr>
                                <tr>
                                    <th>Minute</th>
                                    <td><input asp-for="Minute1" name="Minute1" type="text" /></td>
                                </tr>
                            </table>
                        </td>
                        <td style="border: none">
                            <table style="border: none">
                                <tr>
                                    <th>Year</th>
                                    <td><input asp-for="Year2" name="Year2" type="text" /></td>
                                </tr>
                                <tr>
                                    <th>Month</th>
                                    <td><input asp-for="Month2" name="Month2" type="text" /></td>
                                </tr>
                                <tr>
                                    <th>Day</th>
                                    <td><input asp-for="Day2" name="Day2" type="text" /></td>
                                </tr>
                                <tr>
                                    <th>Hour</th>
                                    <td><input asp-for="Hour2" name="Hour2" type="text" /></td>
                                </tr>
                                <tr>
                                    <th>Minute</th>
                                    <td><input asp-for="Minute2" name="Minute2" type="text" /></td>
                                </tr>
                            </table>
                        </td>
                        <td style="border: none">
                            <table style="border: none">
                                <tr>
                                    <th>Carrier</th>
                                    <td><input asp-for="Carrier" type="text" /></td>
                                </tr>
                                <tr>
                                    <th>Tractor</th>
                                    <td><input asp-for="Tractor" type="text" /></td>
                                </tr>
                                <tr>
                                    <th>Trailer</th>
                                    <td><input asp-for="Trailer" type="text" /></td>
                                </tr>
                                <tr>
                                    <th>Company</th>
                                    <td><select style="margin-left: 20%" asp-for="Company" asp-items="@Html.GetEnumSelectList<GateLog.Models.SearchPageCompanyEnum>()"></select></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div><label>Save Results To Excel File? &nbsp;</label><input type="checkbox" asp-for="@Model.WantsCSV" /></div>
                <input style="margin-left: 25%" type="submit" class="btn btn-light" value="Search" name="search2" />
            </form>
        </td>
    </tr>
</table>
<br />
<span class="text-white">
    <p>
        *In order for time and date constraints to restrict the search results all time and date
        fields must be filled out.
    </p>

    @if (Model.DateOrTimeError == true)
    {
        <span style="color: red">*Date or time error.</span>

    }

    @if (Model.TripError == true)
    {
        <span style="color: red">*Invalid Trip Number.</span>
    }

    @if (Model.NoFieldError == true)
    {
        <span style="color: red">*Must Select at least one valid search criteria.</span>

    }
    @if (Model.NoResults == true)
    {
        <span style="color: red">*No trucks found matching your search criteria.</span>

    }
    @if (Model.ToIsBeforeFrom == true)
    {
        <span style="color: red">
            *The start date and time you specified occurs after the end
            date and time.
        </span>

    }
</span>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>


<script type="text/javascript">
    var wantsCSV = document.getElementById("WantsCsv");
    csvValue = wantsCSV.value;
    if (csvValue.trim().indexOf("true") >= 0) {
        var line = document.getElementById("Line");
        try {
            var b = new Blob([line.value], { type: "text/csv;charset=utf-8" });
            saveAs(b, "results.csv");

        }
        catch (e) {
        }

       
    }

</script>