﻿@model GateLog.ViewModels.JsConversionViewModel

@using GateLog.Models

<script type="text/javascript">
    function newTrailer() {
        let t = {

            carrier: "", number: "", status: ""
        };
        return t;
    }

    var CarrierMap = {};

    var trailers = [];


</script>

<div id="ParentDiv1">

    @foreach (string carrier2 in Model.CarrierMap.Keys)
    {
        <input type="hidden" id="Carrier2" value="@carrier2" />
        <script type="text/javascript">
            carrier2Input = document.getElementById("Carrier2");
            CarrierMap[carrier2Input.value] = [];
        </script>
        foreach (string carrier3 in Model.CarrierMap[carrier2])
        {
            <input type="hidden" id="Carrier3" value="@carrier3" />

            <script type="text/javascript">
                carrier3Input = document.getElementById("Carrier3");
                CarrierMap[carrier2Input.value].push(carrier3Input.value);
                parentDiv = document.getElementById("ParentDiv1");
                parentDiv.removeChild(carrier3Input);
            </script>

        }
        <script type="text/javascript">
            parentDiv = document.getElementById("ParentDiv1");
            parentDiv.removeChild(carrier2Input);
        </script>

    }
    @{
        int i4 = 0;
        string string4 = "";
        @foreach (string s in Model.CarrierMap.Keys)
        {
            string4 = "id" + i4;
            <input type="hidden" id="@string4" value="@s" />
            i4++;
        }
    }
    <script type="text/javascript">
            tempCarriers = [];
            for (i5 = 0; i5 < @Model.CarrierMap.Keys.Count; i5++) {
                tempInput = document.getElementById("id" + i5);
                tempCarriers.push(tempInput.value);
                parentDiv.removeChild(tempInput);
            }
    </script>
</div>

<script type="text/javascript">
    longString = "";
    for (index = 0; index < trailers.length; index++) {
        longString += trailers[index].carrier + " " + trailers[index].number + " " + trailers[index].status;
        longString += "\n"
    }

    longString = "\n";
    for (i33 = 0; i33 < tempCarriers.length; i33++) {
        outerCarrier = tempCarriers[i33];
        longString += outerCarrier + ": ";
        for (i44 = 0; i44 < CarrierMap[outerCarrier].length; i44++) {
            longString += CarrierMap[outerCarrier][i44] + "-";

        }
        longString += "\n"
    }

    longString = "\n";
    for (i10 = 0; i10 < tempCarriers.length; i10++) {
        longString += tempCarriers[i10] + "\n";

    }
</script>
