﻿
@{
    ViewBag.Title = "Edit Truck";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model GateLog.ViewModels.EditViewModel
@using GateLog.Models

@section script{

}
@section header{
    Edit Truck
}

<script type="text/javascript">
    var cont = document.getElementById("cont");
    cont.classList.remove("container");
    cont.style.marginTop = "10%";
</script>

<form method="post">
    <table class="table table-bordered table-primary table-sm table-responsive">
        <thead>
            <tr>
                <th>Month</th>
                <th>Day</th>
                <th>Year</th>
                <th>Hour</th>
                <th>Minute</th>
                <th>Carrier</th>
                <th>Tractor</th>
                <th>Trailer</th>
                <th>Trip</th>
                <th>Seal/Empty</th>
                <th>Shipper</th>
                <th>In/Out</th>
                <th>Door</th>
                <th>Company</th>
                <th>Submit/Edit</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><input size="2" asp-for="Month" value="@Model.DateAndTime.Month" /></td>
                <td><input size="2" asp-for="Day" value="@Model.DateAndTime.Day" /></td>
                <td><input size="4" asp-for="Year" value="@Model.DateAndTime.Year" /></td>
                <td><input size="2" asp-for="Hour" value="@Model.DateAndTime.TimeOfDay.ToString().Substring(0, 2)" /></td>
                <td><input size="2" asp-for="Minute" value="@Model.DateAndTime.TimeOfDay.ToString().Substring(3, 2)" /></td>
                <td><input size="10" asp-for="Carrier" /></td>
                <td><input size="10" asp-for="Tractor" /></td>
                <td><input size="10" asp-for="Trailer" /></td>
                <td><input asp-for="Trip" /></td>

                @if (@Model.IsEmpty == true)
                {
                    <td><input asp-for="Seal" value="Empty" /></td>

                }
                @if (@Model.InDropLot == true)
                {

                    <td><input asp-for="Seal" value="Drop Lot" /></td>

                }

                @if (@Model.IsRelay == true)
                {
                    <td><input asp-for="Seal" value="Relay" /></td>

                }

                @if (@Model.InDropLot == false && @Model.IsRelay == false && @Model.IsEmpty == false)
                {
                    <td><input asp-for="Seal" /></td>

                }

                <td><input asp-for="Shipper" /></td>

                <td><select asp-for="InOrOut" asp-items="@Html.GetEnumSelectList<GateLog.Models.InOutEnum>()"></select></td>

                @if (@Model.InYard == true)
                {
                    <td><input size="3" asp-for="Door" value="Y" /></td>

                }

                @if (@Model.OnFence == true)
                {
                    <td><input size="3" asp-for="Door" value="F" /></td>

                }

                @if (@Model.OnFence == false && @Model.InYard == false)
                {
                    <td><input size="3" asp-for="Door" /></td>
                }

                <td>
                    <select asp-for="Company" asp-items="@Html.GetEnumSelectList<GateLog.Models.CompanyEnum>()"></select>
                </td>

                <td><input type="submit" class="btn btn-sm btn-primary text-white" name="update" value="Update" /></td>
            </tr>
            <tr><td style="margin-bottom: 10%"></td></tr>
        </tbody>

    </table>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="DateAndTime" />

    <div style="color:red" asp-validation-summary="All">
        @if (@Model.RedirectedBecauseOfBadTrip == true)
        {
            <p>*Invalid Trip</p>

        }
        @if (@Model.RedirectedBecauseOfBadDoor == true)
        {
            <p>*Invalid Door</p>

        }
        @if (@Model.RedirectedBecauseOfBadDate == true)
        {
            <p>*Invalid Date Or Time</p>

        }
    </div>
</form>

<div style="margin-left: 30%" class="text-white">
    <ul>
        <li>Make sure to entr f or F for Fence and y or Y for Yard.</li>
        <li>Do not enter Fence or Yard.</li>
    </ul>
</div>


<div style="text-align: center"><a class="btn btn-light" asp-action="RemoveTruck" asp-controller="Edit" asp-route-id="@Model.Id">Remove This Truck From History</a></div>