﻿@model GateLog.ViewModels.JsConversionViewModel
@using GateLog.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script type="text/javascript">
    var InTrailers = [];
    function newInTrailer(_Carrier, _Number, _Status) {
        return {
            Carrier: _Carrier,
            Number: _Number,
            Status: _Status
        };

    }
</script>

<div id="JsInTrailersParentDiv">
    <script type="text/javascript">
        var jsInTrailersParentDiv = document.getElementById("JsInTrailersParentDiv");
    </script>

    @foreach (InTrailer iT in Model.InTrailers)
    {

        <input type="hidden" id="Carrier" asp-for="@iT.Carrier" />
        <input type="hidden" id="Number" asp-for="@iT.Trailer" />
        <input type="hidden" id="Status" asp-for="@iT.Status" />

        <script type="text/javascript">
            {
                let carrier = document.getElementById("Carrier");
                let number = document.getElementById("Number");
                let status = document.getElementById("Status");
                let trailer = newInTrailer(carrier.value, number.value, status.value);
                InTrailers.push(trailer);
                jsInTrailersParentDiv.removeChild(carrier);
                jsInTrailersParentDiv.removeChild(number);
                jsInTrailersParentDiv.removeChild(status);
            }
        </script>

    }
</div>