﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add Carrier";
}


@using GateLog.ViewModels

@model CarrierViewModel


<div class="text-white">
    <br />
    <form asp-action="AddCarrier" method="post">
        <div style="float:left">

            <label>Carrier Name</label>
            <input type="text" asp-for="Name" />
            <span style="color: red" asp-validation-for="Name"></span>
            @if (Model.CarrierAlreadyExists == true)
        {
            <p style="color: red">*Carrier with that name already exists.</p>

    }
        </div>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <input type="submit" class="btn btn-light text-dark" value="Save Carrier" name="submit" />
    </form>

    <br />
</div>


@section script{
    <script type="text/javascript">
        button1 = document.getElementById("Carriers1");
        button2 = document.getElementById("Carriers2");
        button1.classList.add("active");
        button2.classList.add("active");
        cont = document.getElementById("cont");
        cont.style.marginTop = "10%";
    </script>
}

@section header{
    Add Carrier
}