﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Carriers";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model GateLog.ViewModels.CarrierViewModel

@if (Model.CarrierNames.Count != 0)
{
    <div class="list-group" style="font-weight: bolder">

        @foreach (string name in Model.CarrierNames)
        {

            <a class="text-dark list-group-item list-group-item-primary list-group-item-action" asp-action="CarrierDetails" asp-route-name="@name"><strong>@name</strong></a>


        }

    </div>
}
else
{
    <br /> <br />
    <div style="margin-left: 11%" class="text-white display-2">No Carriers Recorded.</div>
    <br /><br />
    <div style="margin-left: 25%" class="text-white">Please click Carriers and then select Add Carrier to add one or more carriers.</div>
    <br /><br />
}
@section script{
    <script type="text/javascript">
        button1 = document.getElementById("Carriers1");
        button2 = document.getElementById("Carriers2");
        button1.classList.add("active");
        button2.classList.add("active");
    </script>

}
@section header{
    Carriers
}