﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Carriers";
}

<div>
    <ul>
        <li><a asp-action="AddCarrier" asp-controller="Carrier">Add Carrier</a></li>
        <li><a asp-action="AllCarriers" asp-controller="Carrier">All Carriers</a></li>
    </ul>
</div>



@section script{
    <script type="text/javascript">
           var link1 = document.getElementById("Carrier1");
           var link2 = document.getElementById("Carrier2");
           llnk1.class = "btn btn-dark";
           llnk2.class = "btn btn-dark";
    </script>
}