﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Carrier Details";
}
@model GateLog.ViewModels.CarrierViewModel
    <table style="border: none" class="text-white">

        <tr style="border: none">
            <th style="border: none">
                Related Carriers
            </th>
            <td style="border: none">
                @for (int @i = 0; @i < @Model.RelatedCarriers.Count; @i++)
                {

                    @Model.RelatedCarriers[@i]

                }
            </td>
        </tr>
        <tr style="border: none">
            <th style="border: none">Add a Related carrier</th>
            <td style="border: none">
                <form asp-action="RelateCarrier" method="post">
                    <input type="hidden" asp-for="@Model.Name" />
                    <select id="RelateSelect" asp-for="@Model.CarrierToRelate" asp-items="@new SelectList(Model.CarrierNames)"></select>
                    <input class="btn btn-light" type="submit" value="Relate Carrier" />
                </form>
            </td>
        </tr>
        <tr style="border: none">
            <th style="border: none">Remove this carrier from the database.</th>
            <td style="border: none">
                <form asp-action="DeleteCarrier" method="post">
                    <input type="hidden" asp-for="@Model.Name" />
                    <input type="submit" value="Remove" class="btn btn-light" />
                </form>
            </td>
        </tr>
    </table>

@section script{
    <script type="text/javascript">
        $(document).ready(function () {
            var $RelateSelect = $("#RelateSelect");
        });

        button1 = document.getElementById("Carriers1"); 
        button2 = document.getElementById("Carriers2");
        button1.classList.add("active");
        button2.classList.add("active");
    </script>
}
@section header{ 
    @Model.Name
}