﻿@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add Tractor or Trailer";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model GateLog.ViewModels.TracTrailViewModel
@using GateLog.Models 

<div style="text-align:center" class="text-white display-2">Add Trac/Trail</div>

<div class="card">
    <div class="card-header text-primary" style="font-weight:bolder">Add Tractor</div>
    <div class="card-body">
        <form asp-action="Add" asp-controller="TracTrail" method="post">
            <div>
                <label class="text-primary" style="font-weight:bolder">Carrier: </label>
                <select asp-for="@Model.TracCarrier" asp-items="@new SelectList(Model.AllCarriers)"></select>
            </div>
            
            <div>
                <label style="font-weight:bolder" class="text-primary">Number: </label>
                <input type="text" asp-for="@Model.Trac" />
            </div>
            <div>
                <input type="submit" value="Add Tractor" />
            </div>
        </form>
    </div>
</div>


<div class="card">
    <div class="card-header text-primary" style="font-weight:bolder">Add Trailer</div>
    <div class="card-body">
        <form asp-action="Add" asp-controller="TracTrail" method="post">
            <div>
                <label style="font-weight:bolder" class="text-primary">Carrier: </label>
                <select asp-for="@Model.TrailCarrier" asp-items="@new SelectList(Model.AllCarriers)"></select>
            </div>

            <div>
                <label style="font-weight:bolder" class="text-primary">Number: </label>
                <input type="text" asp-for="@Model.Trail" />
            </div>

            <div>
                <label style="font-weight:bolder" class="text-primary">Status: </label>
                <select asp-for="@Model.Status" asp-items="@Html.GetEnumSelectList<StatusEnum>()"></select>
            </div>

            <div>
                <input type="submit" value="Add Trailer" />
            </div>
        </form>
    </div>
</div>

@section script{ 

}