﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model GateLog.ViewModels.IndexViewModel
@using GateLog.Models

<header>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    @section script{
        <script type="text/javascript">
            button1 = document.getElementById("Home1");
            button2 = document.getElementById("Home2");
            button1.classList.add("active");
            button2.classList.add("active");
            cont = document.getElementById("cont");
            cont.classList.remove("bg-light");
            cont.classList.add("bg-primary");
            cont.style.borderRadius = "5%";
        </script>
        <style>
            /*.select2{
                min-height: 100px !important;
            }*/

            .select2-selection__rendered {
                line-height: 61px !important;
            }

            .select2-container .select2-selection--single {
                height: 70px !important;
            }

            .select2-selection__arrow {
                height: 40px !important;
            }
        </style>
    }
</header>

@section header{
    Entry Exit
}

<style>
    table, tr, td, th {
        border: none;
    }
</style>


<script type="text/javascript">
    function PrintOnOff() {
        WantsPrint = document.getElementById('WantsPrint');
        if (WantsPrint.value === 'false') {
            WantsPrint.value = 'true';

        }
        else {
            WantsPrint.value = 'false';

        }
    }


    function switchTractorButton() {
        tractorButtonOnOff = document.getElementById('TractorButtonOnOff');
        tractorButton = document.getElementById('TractorButton');
        if (tractorButtonOnOff.value === 'off') {
            tractorButtonOnOff.value = 'on';
            tractorButton.value = 'Select It';
            document.getElementById('Tractor').style.display = '';
            document.getElementById(document.getElementById('Carrier').value + 'trc' + 'div').style.display = 'none';
            document.getElementById('Tractor').name = 'Tractor';
            document.getElementById(document.getElementById('Carrier').value + "trc").name = '';
        }
        else {
            tractorButtonOnOff.value = 'off';
            tractorButton.value = 'Type It';
            document.getElementById('Tractor').style.display = 'none';
            document.getElementById(document.getElementById('Carrier').value + 'trc' + 'div').style.display = '';
            document.getElementById('Tractor').name = '';
            document.getElementById(document.getElementById('Carrier').value + 'trc').name = 'Tractor';

        }
    }

    function switchTrailerButton() {
        trailerButtonOnOff = document.getElementById('TrailerButtonOnOff');
        trailerButton = document.getElementById('TrailerButton');
        if (trailerButtonOnOff.value === 'off') {
            trailerButtonOnOff.value = 'on';
            trailerButton.value = 'Select It';
            document.getElementById('Trailer').style.display = '';
            document.getElementById(document.getElementById('Carrier').value + 'trl' + 'div').style.display = 'none';
            document.getElementById('Trailer').name = 'Trailer';
            document.getElementById(document.getElementById('Carrier').value + "trl").name = '';
        }
        else {
            trailerButtonOnOff.value = 'off';
            trailerButton.value = 'Type It';
            document.getElementById('Trailer').style.display = 'none';
            document.getElementById(document.getElementById('Carrier').value + 'trl' + 'div').style.display = '';
            document.getElementById('Trailer').name = '';
            document.getElementById(document.getElementById('Carrier').value + 'trl').name = 'Trailer';

        }
    }

    function resetTractorButton() {
        tractorButtonOnOff = document.getElementById('TractorButtonOnOff');
        tractorButton = document.getElementById('TractorButton');
        lastCarrier = document.getElementById('LastCarrier');
        if (tractorButtonOnOff.value === 'on') {
            tractorButtonOnOff.value = 'off';
            tractorButton.value = 'Type It';
            document.getElementById('Tractor').style.display = 'none';
            document.getElementById(lastCarrier.value + 'trc' + 'div').style.display = '';
            document.getElementById('Tractor').name = '';
            document.getElementById(lastCarrier.value).name = 'Tractor';


        }

    }
    function resetTrailerButton() {
        trailerButtonOnOff = document.getElementById('TrailerButtonOnOff');
        trailerButton = document.getElementById('TrailerButton');
        lastCarrier = document.getElementById('LastCarrier');
        if (trailerButtonOnOff.value === 'on') {
            trailerButtonOnOff.value = 'off';
            trailerButton.value = 'Type It';
            document.getElementById('Trailer').style.display = 'none';
            document.getElementById(lastCarrier.value + 'trl' + 'div').style.display = '';
            document.getElementById('Trailer').name = '';
            document.getElementById(lastCarrier.value).name = 'Trailer';


        }

    }



</script>

<style>
    th, label {
        font-weight: bolder;
    }
</style>

<div id="TempParentDivIndex">
    <input id="StartingTrailer" type="hidden" asp-for="Trailer" />
    <input id="StartingTractor" type="hidden" asp-for="Tractor" />
    @if (Model.RedirectedBecauseOfBadTrip && Model.InOrOut == InOutEnum.Out)
    {
        <input id="RedirectedOut" type="hidden" value="true" />

    }
    else
    {
        <input id="Redirected" type="hidden" value="false" />

    }

</div>


@if (Model.AllCarriers.Count > 0)
{
    <form method="post">
        <table style="font-size: 3em; border: none">

            <tr style=" border: none">
                <th style=" border: none" class="text-white">In/Out</th>
                <td style=" border: none">
                    <select id="InOut" style="font-size: 1em"
                            onchange="
                                                        isIn = document.getElementById('IsIn');
                                                        carrier = document.getElementById('Carrier').value;
                                                        lastCarrier = document.getElementById('LastCarrier');
                                                        $hideOnOutDiv = $('.HideOnOut');
                                                        lastCarrier.value = carrier;
                                                        tractorButton = document.getElementById('TractorButton');
                                                        trailerButton = document.getElementById('TrailerButton');
                                                        if (isIn.value === 'true') {
                                                            isIn.value = 'false';
                                                            $hideOnOutDiv.hide();
                                                            //tractorButton.style.display = '';
                                                            //trailerButton.style.display = '';

                                                            //tractor
                                                            document.getElementById('Tractor').style.display = 'none';
                                                            document.getElementById('Tractor').name = '';
                                                            document.getElementById(carrier + 'trc' + 'div').style.display = '';
                                                            document.getElementById(carrier + 'trc').name = 'Tractor';
                                                            //trailer
                                                             document.getElementById('Trailer').style.display = 'none';
                                                            document.getElementById('Trailer').name = '';
                                                            document.getElementById(carrier + 'trl' + 'div').style.display = '';
                                                            document.getElementById(carrier + 'trl').name = 'Trailer';
                                                        }
                                                        else {
                                                            isIn.value = 'true';
                                                            $hideOnOutDiv.show();
                                                            tractorButton.style.display = 'none';
                                                            trailerButton.style.display = 'none';
                                                            document.getElementById('TractorButtonOnOff').value = 'off';
                                                            document.getElementById('TractorButton').value = 'Type It';
                                                            document.getElementById('TrailerButtonOnOff').value = 'off';
                                                            document.getElementById('TrailerButton').value = 'Type It';
                                                            //tractor
                                                            document.getElementById('Tractor').style.display = '';
                                                            document.getElementById('Tractor').name='Tractor';
                                                            document.getElementById(carrier + 'trc' + 'div').style.display = 'none';
                                                            document.getElementById(carrier + 'trc').name = '';
                                                            //trailer
                                                            document.getElementById('Trailer').style.display = '';
                                                            document.getElementById('Trailer').name='Trailer';
                                                            document.getElementById(carrier + 'trl' + 'div').style.display = 'none';
                                                            document.getElementById(carrier + 'trl').name = '';
                                                        }"
                            asp-for="InOrOut" asp-items="@Html.GetEnumSelectList<GateLog.Models.InOutEnum>()"></select>
                </td>
            </tr>
            <tr style="border: none" height="40px"><td style="border: none"></td></tr>
            <tr><td class="text-white"><strong>Company</strong></td><td><select asp-for="Company" asp-items="@Html.GetEnumSelectList<GateLog.Models.CompanyEnum>()"></select></td></tr>
            <tr style="border: none" height="40px"><td style="border: none"></td></tr>
            <tr style=" border: none">
                <th style=" border: none" class="text-white">Carrier</th>
                <td style=" border: none">
                    <div style="padding-top: 30px">
                        <select id="Carrier" style="width: 300px" class="carrierSelect" asp-for="Carrier" asp-items="@new SelectList(Model.CarrierNames)"
                                onchange="
                                                       resetTractorButton();
                                                       resetTrailerButton();
                                                       lastCarrier = document.getElementById('LastCarrier');
                                                       var isIn = document.getElementById('IsIn');
                                                       if (isIn.value === 'false') {
                                                           carrier = document.getElementById('Carrier').value;
                                                           //tractor
                                                           document.getElementById(lastCarrier.value + 'trc' + 'div').style.display = 'none';
                                                           document.getElementById(lastCarrier.value + 'trc').name = '';
                                                           document.getElementById(carrier + 'trc' + 'div').style.display = '';
                                                           document.getElementById(carrier + 'trc').name = 'Tractor';
                                                           //trailer
                                                           document.getElementById(lastCarrier.value + 'trl' + 'div').style.display = 'none';
                                                           document.getElementById(lastCarrier.value + 'trl').name = '';
                                                           document.getElementById(carrier + 'trl' + 'div').style.display = '';
                                                           document.getElementById(carrier + 'trl').name = 'Trailer';
                                                           lastCarrier.value = carrier;
                                                       }


                                                        "></select>
                    </div>
                </td>
            </tr>
            <tr style="border: none" height="40px"><td style="border: none"></td></tr>
            <tr style=" border: none">
                <th style=" border: none" class="text-white">Tractor</th>
                <td style=" border: none">
                    <input id="Tractor" style="font-size: 1em" name="Tractor" type="text" />
                    @foreach (string s in Model.CarrierNames)
                    {
                        string iD = s + "trc";
                        string divId = @iD + "div";
                        if (Model.TractorsByCarrier[s].Count != 0)
                        {
                            <div class="jsStuffDiv" id="@divId"><select id="@iD" class="jsStuff" style="width: 300px; font-size: 1em;" asp-items="@new SelectList(@Model.TractorsByCarrier[s])"><option></option></select></div>
                        }
                        if (Model.TractorsByCarrier[s].Count == 0)
                        {


                            <div class="jsStuffDiv" id="@divId">
                                <select id="@iD" class="jsStuff" style="width: 300px; font-size: 1em;"><option></option></select>
                            </div>

                        }


                    }
                </td>
                <td style="border: none">&nbsp;<input type="button" onclick="switchTractorButton();" class="btn btn-light" id="TractorButton" value="Type It" style="display: none; font-size: .75em" /></td>
            </tr>
            <tr style="border: none" height="40px"><td style="border: none"></td></tr>
            <tr style=" border: none">
                <th style=" border: none" class="text-white">Trailer</th>
                <td style=" border: none">
                    <input style="font-size: 1em" name="Trailer" id="Trailer" type="text" />

                    @foreach (string s in Model.CarrierNames)
                    {
                        string iD = s + "trl";
                        string divId = @iD + "div";

                        if (Model.TrailersByCarrier[s].Count == 0)
                        {
                            <div id="@divId" class="jsStuffDiv"><select id="@iD" class="jsStuff" style="font-size: 1em; width: 300px;"><option></option></select></div>
                        }
                        if (Model.TrailersByCarrier[s].Count != 0)
                        {
                            <div id="@divId" class="jsStuffDiv"><select id="@iD" class="jsStuff" style="font-size: 1em; width: 300px;" asp-items="@new SelectList(@Model.TrailersByCarrier[@s])"><option></option></select></div>

                        }


                    }

                </td>
                <td style="border: none">&nbsp;<input type="button" id="TrailerButton" class="btn btn-light" value="Type It" style="display: none; font-size: .75em" onclick="switchTrailerButton();" /></td>
            </tr>
            <tr style="border: none" height="40px"><td style="border: none"></td></tr>
            <tr style=" border: none"><th style=" border: none" class="text-white">Trip</th><td style=" border: none"><input style="font-size: 1em" asp-for="Trip" type="text" /></td></tr>
            <tr style="border: none" height="40px"><td style="border: none"></td></tr>
            <tr style=" border: none"><th style=" border: none" class="text-white">Seal/Empty</th><td style=" border: none"><input style="font-size: 1em" asp-for="Seal" type="text" /></td></tr>
            <tr style="border: none" height="40px"><td style="border: none"></td></tr>
            <tr style=" border: none"><th style=" border: none" class="text-white"><div class="HideOnOut">Shipper</div></th><td style=" border: none"><div class="HideOnOut"><input style="font-size: 1em" asp-for="Shipper" type="text" /></div></td></tr>
            <tr style="border: none" height="40px"><td style="border: none"></td></tr>
            <tr style=" border: none"><th style=" border: none" class="text-white"><div class="HideOnOut">Door</div></th><td style=" border: none"><div class="HideOnOut"><input style="font-size: 1em" asp-for="Door" size="2" type="text" /></div></td></tr>
            <tr style=" border: none"><td style=" border: none"></td><td style=" border: none"><div class="HideOnOut"><label style="font-size: .6em" class="text-white"> Print Inbound Sheet</label>&nbsp;&nbsp;&nbsp;&nbsp;<input style="transform:scale(3)" onchange="PrintOnOff();" type="checkbox" /></div></td></tr>
            <tr style="border: none" height="40px"><td style="border: none"></td></tr>
            <tr style=" border: none"><td style=" border: none"></td><td style=" border: none"><input style="font-size: 1em; margin-left: 30%" type="submit" class="btn btn-light" value="Submit" name="submit" /></td></tr>
            <tr style=" border: none">
                <td style=" border: none">
                <td style=" border: none">
                <td style=" border: none">
                    <input type="text" style="display: none" value="true" id="IsIn" />
                    <input type="text" style="display: none" value="" id="LastCarrier" /><input type="text" style="display: none" name="WantsPrint" value="false" id="WantsPrint" />
                    <input type="text" style="display: none" id="TractorButtonOnOff" value="off" /><input type="text" style="display: none" id="TrailerButtonOnOff" value="off" />
                </td>
            </tr>

        </table>



        <div style="color:red" asp-validation-summary="All">
            @if (Model.RedirectedBecauseOfBadTrip == true)
            {
                <p>*Invalid Trip</p>

            }
            @if (Model.RedirectedBecauseOfBadDoor == true)
            {
                <p>*Invalid Door</p>

            }
        </div>



        <script>
            $('.jsStuffDiv').hide();
        </script>


        @if (Model.InOrOut == InOutEnum.Out)
        {
            <script type="text/javascript">
                isIn = document.getElementById('IsIn');
                carrier = document.getElementById('Carrier').value;
                lastCarrier = document.getElementById('LastCarrier');
                lastCarrier.value = carrier;
                isIn.value = 'false';
                $hideOnOutDiv = $(".HideOnOut");
                $hideOnOutDiv.hide();
                tractorButton = document.getElementById('TractorButton');
                trailerButton = document.getElementById('TrailerButton');
                //tractorButton.style.display = '';
                //trailerButton.style.display = '';
                //tractor
                document.getElementById('Tractor').style.display = 'none';
                document.getElementById('Tractor').name = '';
                document.getElementById(carrier + 'trc' + 'div').style.display = '';
                document.getElementById(carrier + 'trc').name = 'Tractor';
                //trailer
                document.getElementById('Trailer').style.display = 'none';
                document.getElementById('Trailer').name = '';
                document.getElementById(carrier + 'trl' + 'div').style.display = '';
                document.getElementById(carrier + 'trl').name = 'Trailer';
            </script>

        }
    </form>
}
else
{
    <div style="text-align: center" class="display-1 text-white">No Carriers</div>
    <br /> <br /> <br />
    <p style="text-align: center" class="text-white">
        <strong>
            In order to gate trucks in or out you must first
            add one or more carriers. Please click the Carriers link and then select the 'Add Carrier' option.
        </strong>
    </p>

}


    <div style="text-align:right"><a class="text-white" asp-action="SwitchView">Change Entry/Exit Screen&nbsp;&nbsp;</a></div>
<script type="text/javascript">
    $(document).ready(function () {
        var $InOut = $("#InOut");
        var $Carrier = $("#Carrier");
    });
</script>

@section footer{
    @if (Model.AllCarriers.Count > 0)
    {
        <div>
            <p>*Enter emp into the seal category to indicate a trailer is empty.</p>
            <p>
                *Optionally you may enter dro into the seal category for drop lot,
                or rel for relay
            </p>
            <p>
                *If you wish to indicate that a trailer was placed on the fence you may
                type f into door. You can also type y into door and it will be recorded
                as being placed into the yard.
            </p>
        </div>
    }
}

<script type="text/javascript">
    let parentDiv = document.getElementById("TempParentDivIndex");
    startingTrailer = document.getElementById("StartingTrailer");
    document.getElementById("Trailer").value = startingTrailer.value;
    startingTractor = document.getElementById("StartingTractor");
    document.getElementById("Tractor").value = startingTractor.value;

    let redirectedOut = document.getElementById("RedirectedOut");
    if (redirectedOut != null && redirectedOut.value === "true") {
        let carrierV = document.getElementById("Carrier").value;
        switchTractorButton();
        switchTrailerButton();
    }

    parentDiv.removeChild(startingTrailer);
    parentDiv.removeChild(startingTractor);
</script>

<script>
    $(document).ready(function () {
        $('.carrierSelect').select2();
        $('.jsStuff').select2({ tags: true });

    });

</script>