﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tractors in the lot";
}
@using GateLog.Models

@using GateLog.ViewModels

@model InLotViewModel
<style>
    table, tr, th, td {
        border: none;
        font-weight: bolder;
    }
</style>

<div style="margin-top:2%; margin-bottom:2%" class="row">
    <div class="col"></div>
    <div class="col">
        <div>
            <label class="text-white" style="margin-left: 2%; padding-left: 1%; padding-right: 1%">Search</label>
            <input type="text" id="InTractorSearchBar" />
        </div>
    </div>
    <div class="col"></div>
</div>
<div class="text-white" style="font-size: .8em; margin-left: 20%">
    <ul>
        <li>Search by carrier or tractor number</li>
        <li>All related carriers will be matched. (Typing arka for ARKA will include BJT tractors etc.)</li>
        <li>Enter + to search multiple fields. (arka + 1 will display all arka/bjt tractors whose number's start with 1.)</li>
    </ul>
</div>
@if (Model.InTractors.Count != 0)
{
    <table id="InTractorTable" class="table table-bordered table-striped table-hover table-primary">
        <thead>
            <tr>
                <th>Carrier Name</th>
                <th>Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="InTractorBody">
            @foreach (InTractor t in Model.InTractors)
            {
                <tr>
                    <td>@t.Carrier</td>
                    <td>@t.Tractor</td>
                    <td>
                        <form asp-action="RemoveInTractor" asp-controller="InLot" asp-route-id="@t.Id" method="post">
                            <input type="hidden" asp-for="@t.Id" />
                            <input type="submit" class="btn btn-primary text-white" value="Remove From Lot" />
                        </form>
                    </td>
                </tr>


            }
        </tbody>
    </table>
}
@if (Model.InTractors.Count == 0)
{
    <br /> <br />
    <div style="margin-left: 9%" class="text-white display-2">No Tractors at this time.</div>
    <br /><br />
}


@section script{
    <script type="text/javascript">
        button1 = document.getElementById("Tractors1");
        button2 = document.getElementById("Tractors2");
        button1.classList.add("active");
        button2.classList.add("active");
    </script>
}

@section header{
    Tractors
}



@await Component.InvokeAsync("JsCarrierMap")
<script type="text/javascript">
    var inTractorTable = document.getElementById("InTractorTable");
    var inTractorTBody = document.getElementById("InTractorBody");
    var inTractorSearchBar = document.getElementById("InTractorSearchBar");
    var tBodyChildren = inTractorTBody.children;
    var tBodyTR = "";
    var tBodyTRChildren = "";
    var trailerRow = "";
    var allTrailerRows = [];
    var clonedTrailerRows = [];

    function makeTrailerTR(_carrier, _number, _iD) {
        return {
            carrier: _carrier,
            number: _number,
            iD: _iD,

            cloneTrailerTR: function() {
                return makeTrailerTR(this.carrier, this.number, this.iD);
            }
        };
    }


    function loadAllTrailerRows() {
        for (i1 = 0; i1 < tBodyChildren.length; i1++) {
            tBodyTR = tBodyChildren[i1];
            tBodyTRChildren = tBodyTR.children; 
            trailerRow = makeTrailerTR(tBodyTRChildren[0].textContent, tBodyTRChildren[1].textContent, i1); 
            allTrailerRows.push(trailerRow);
        }

    }

    function loadClonedTrailerRows() {
        clonedTrailerRows = [];
        for (i2 = 0; i2 < allTrailerRows.length; i2++) {
            clonedTrailerRows.push(allTrailerRows[i2].cloneTrailerTR());
        }
    }

    function showAndHideRows() {
        tBodyChildren[0].style.display = "none";
        let inIDs = [];
        for (i = 0; i < clonedTrailerRows.length; i++) {
            inIDs.push(clonedTrailerRows[i].iD);
        }
        for (i = 0; i < tBodyChildren.length; i++) {
            if (inIDs.indexOf(i) != -1) {
                if (tBodyChildren[i].style.display === 'none') {
                    tBodyChildren[i].style.display = '';
                }
            }
            else {
                tBodyChildren[i].style.display = 'none';
            }
        }

    }

    function filterByCarrier(textValue) {
        let carrier = "";
        let relatedCarrier = [];
        let number = "";
        let outList = [];
        let boolBox = false;
        loop1:
        for (i = 0; i < clonedTrailerRows.length; i++) {

            boolBox = false;
            carrier = clonedTrailerRows[i].carrier;
            number = clonedTrailerRows[i].number;
            iD = clonedTrailerRows[i].iD;
            if (!(typeof (CarrierMap[carrier]) === 'undefined')) {
                relatedCarrier = CarrierMap[carrier];
            }

            if (carrier.indexOf(textValue) == 0) {
                continue loop1;
            }

            if (number.indexOf(textValue) == 0) {
                continue loop1;

            }


            if (typeof (CarrierMap[carrier]) === 'undefined') {
                outList.push(iD);
                continue loop1;
            }

            if (relatedCarrier[0] !== "No Related Carriers") {
                loop2:
                for (i2 = 0; i2 < relatedCarrier.length; i2++) {
                    if (relatedCarrier[i2].indexOf(textValue) == 0) {
                        boolBox = true;
                        break loop2;

                    }
                }
                if (boolBox == true) {
                    continue loop1;
                }
            }
            outList.push(iD);
        }

        let length = allTrailerRows.length;
        let i3 = 0;
        for (i = 0; i < length; i++) {
            if (i3 == outList.length) {
                break;

            }
            if (clonedTrailerRows[i - i3].iD == outList[i3]) {
                clonedTrailerRows.splice(i - i3, 1);
                i3++;
            }

        }
    }

    function updateTable() {
        loadClonedTrailerRows();
        showAndHideRows();
        let textArguments = inTractorSearchBar.value.split("+");
        let textValue = "";

        for (outerIndex = 0; outerIndex < textArguments.length; outerIndex++) {
            textValue = textArguments[outerIndex].toUpperCase().trim();
            filterByCarrier(textValue);
        }
        showAndHideRows();
    }
    loadAllTrailerRows();
    inTractorSearchBar.addEventListener("keyup", function () { updateTable(); });
</script> 