﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Trailers in the lot";
}
@using GateLog.Models

@using GateLog.ViewModels

@model InLotViewModel

<style>
    table, tr, th, td {
        border: none;
        font-weight: bolder;
    }

    a {
        text-decoration: none;
    }
</style>
<div style="margin-top:2%; margin-bottom:2%" class="row">
    <div class="col"></div>
    <div class="col">
        <div>
            <label class="text-white" style="margin-left: 2%; padding-left: 1%; padding-right: 1%">Search</label>
            <input type="text" id="InTrailerSearchBar" />
        </div>
    </div>
    <div class="col"></div>
</div>
<div class="text-white" style="font-size: .8em; margin-left: 20%">
    <ul>
        <li>Search by carrier, trailer number or status.</li>
        <li>All related carriers will be matched. (Typing arka for ARKA will include BJT trailers etc.)</li>
        <li>Enter + to search multiple fields. (arka + empty will display all empty arka/bjt trailers.)</li>
    </ul>
</div>
@if (Model.InTrailers.Count != 0)
{
    <table id="InTrailerTable" class="table table-striped table-hover table-bordered table-primary">
        <thead>
            <tr>
                <th>Carrier Name</th>
                <th>Number</th>
                <th>Status</th>
                <th>Remove</th>
                <th>Change Status</th>
                <th>Log Warnings</th>
            </tr>
        </thead>
        <tbody id="InTrailerTBody">
            @foreach (InTrailer t in Model.InTrailers)
            {
                <tr>
                    <td>@t.Carrier</td>
                    <td>@t.Trailer</td>
                    <td>
                        @if (t.Status == StatusEnum.Inbound)
                        {
                            <p>Loaded</p>
                        }

                        @if (t.Status == StatusEnum.Empty)
                        {
                            <p>Empty</p>

                        }


                        @if (t.Status == StatusEnum.Relay)
                        {
                            <p>Relay</p>
                        }
                        @if (t.Status == StatusEnum.Drop)
                        {
                            <p>Drop Lot</p>

                        }
                        @if (t.Status == StatusEnum.None)
                        {
                            <p>No status recorded</p>

                        }
                    </td>
                    <td>
                        <form asp-action="RemoveInTrailer" asp-controller="InLot" asp-route-id="@t.Id" method="post">
                            <input type="hidden" asp-for="@t.Id" />
                            <input type="submit" class="btn btn-sm btn-primary text-white" value="Remove From Lot" />
                        </form>
                    </td>
                    @if (t.Status == StatusEnum.Empty || t.Status == StatusEnum.Inbound)
                    {
                        string text = "Change Empty/Loaded Status";
                        //if ((t.Status == StatusEnum.Inbound && !t.ChangedEmptyStatus) || (t.Status == StatusEnum.Empty && t.ChangedEmptyStatus))
                        //{
                        //    text = "Make Loaded";
                        //}
                        //else
                        //{
                        //    text = "Make Empty";

                        //}

                        <td>
                            <form asp-action="ToggleFilledStatus" asp-controller="InLot" method="post" asp-route-id="@t.Id">
                                <button type="submit" class="btn btn-primary text-white btn-sm">@text</button>
                            </form>
                        </td>

                    }
                    else
                    {
                        <td></td>

                    }


                    @if (t.LogId != null)
                    {
                        <td style="border: none">
                            @if (t.LogId.Contains("-"))
                            {


                                @foreach (string s in t.LogId.Split("-"))
                                {
                                    <div style="display: inline" class="badge bg-danger text-white badge-pill"> <a asp-controller="Log" asp-action="SpecificLog" asp-route-id="@s">@s</a> </div>

                                }




                            }
                            @if (!t.LogId.Contains("-"))
                            {

                                <a class="badge bg-danger badge-pill text-white" asp-action="SpecificLog" asp-controller="Log" asp-route-id="@t.LogId">@t.LogId</a>
                            }

                        </td>



                    }
                    @if (t.LogId == null)
                    {
                        <td></td>

                    }
                </tr>


            }
        </tbody>
    </table>
}
@if (Model.InTrailers.Count == 0)
{
    <br /> <br />
    <div style="margin-left: 9%" class="text-white display-2">No Trailers at this time.</div>
    <br /><br />
}



@section script{
    <script type="text/javascript">
        button1 = document.getElementById("Trailers1");
        button2 = document.getElementById("Trailers2");
        button1.classList.add("active");
        button2.classList.add("active");
    </script>
}

@section header{
    Trailers
}


@await Component.InvokeAsync("JsCarrierMap");

<script type="text/javascript">
    var inTrailerTable = document.getElementById("InTrailerTable");
    var inTrailerTBody = document.getElementById("InTrailerTBody");
    var inTrailerSearchBar = document.getElementById("InTrailerSearchBar");
    var tBodyChildren = inTrailerTBody.children;
    var tBodyTR = "";
    var tBodyTRChildren = "";
    var trailerRow = "";
    var allTrailerRows = [];
    var clonedTrailerRows = [];

    function makeTrailerTR(_carrier, _number, _status, _iD) {
        return {
            carrier: _carrier,
            number: _number,
            status: _status,
            iD: _iD,

            cloneTrailerTR: function() {
                return makeTrailerTR(this.carrier, this.number, this.status, this.iD);
            }
        };
    }


    function loadAllTrailerRows() {
        for (i1 = 0; i1 < tBodyChildren.length; i1++) {
            tBodyTR = tBodyChildren[i1];
            tBodyTRChildren = tBodyTR.children;
            trailerRow = makeTrailerTR(tBodyTRChildren[0].textContent, tBodyTRChildren[1].textContent, tBodyTRChildren[2].textContent, i1);
            allTrailerRows.push(trailerRow);
        }

    }

    function loadClonedTrailerRows() {
        clonedTrailerRows = [];
        for (i2 = 0; i2 < allTrailerRows.length; i2++) {
            clonedTrailerRows.push(allTrailerRows[i2].cloneTrailerTR());
        }
    }

    function showAndHideRows() {
        tBodyChildren[0].style.display = "none";
        let inIDs = [];
        for (i = 0; i < clonedTrailerRows.length; i++) {
            inIDs.push(clonedTrailerRows[i].iD);
        }
        for (i = 0; i < tBodyChildren.length; i++) {
            if (inIDs.indexOf(i) != -1) {
                if (tBodyChildren[i].style.display === 'none') {
                    tBodyChildren[i].style.display = '';
                }
            }
            else {
                tBodyChildren[i].style.display = 'none';
            }
        }

    }

    function filterByCarrier(textValue) {
        let carrier = "";
        let relatedCarrier = [];
        let number = "";
        let status = "";
        let outList = [];
        let boolBox = false;
        loop1:
        for (i = 0; i < clonedTrailerRows.length; i++) {

            boolBox = false;
            carrier = clonedTrailerRows[i].carrier;
            number = clonedTrailerRows[i].number;
            status = clonedTrailerRows[i].status.toUpperCase().trim();
            iD = clonedTrailerRows[i].iD;
            if (!(typeof (CarrierMap[carrier]) === 'undefined')) {
                relatedCarrier = CarrierMap[carrier];
            }


            if (carrier.indexOf(textValue) == 0) {
                continue loop1;
            }

            if (number.indexOf(textValue) == 0) {
                continue loop1;

            }
            if (status.indexOf(textValue) == 0) {
                continue loop1;

            }

            if (typeof (CarrierMap[carrier]) === 'undefined') {
                outList.push(iD);
                continue loop1;
            }

            if (relatedCarrier[0] !== "No Related Carriers") {
                loop2:
                for (i2 = 0; i2 < relatedCarrier.length; i2++) {
                    if (relatedCarrier[i2].indexOf(textValue) == 0) {
                        boolBox = true;
                        break loop2;

                    }
                }
                if (boolBox == true) {
                    continue loop1;
                }
            }
            outList.push(iD);
        }

        let length = allTrailerRows.length;
        let i3 = 0;
        for (i = 0; i < length; i++) {
            if (i3 == outList.length) {
                break;

            }
            if (clonedTrailerRows[i - i3].iD == outList[i3]) {
                clonedTrailerRows.splice(i - i3, 1);
                i3++;
            }

        }
    }

    function updateTable() {
        loadClonedTrailerRows();
        showAndHideRows();
        let textArguments = inTrailerSearchBar.value.split("+");
        let textValue = "";

        for (outerIndex = 0; outerIndex < textArguments.length; outerIndex++) {
            textValue = textArguments[outerIndex].toUpperCase().trim();
            filterByCarrier(textValue);
        }
        showAndHideRows();
    }
    loadAllTrailerRows();
    inTrailerSearchBar.addEventListener("keyup", function () { updateTable(); });
</script> 