﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model GateLog.ViewModels.JsConversionViewModel
@using GateLog.Models

<script type="text/javascript">
    var carrierToFirstCarrier = {}; 

    function newTrailer(_Carrier, _Number, _Status) {
        return new {
            Carrier: _Carrier,
            Number: _Number,
            Status: _Status
        };
    }

    function newTractor(_Carrier, _Number) {
        return new {
            Carrier: _Carrier,
            Number: _Number,
        };
    }
</script>

<div id="JsTrailerTractorCarrierMapsParrent">
    <script type="text/javascript">
        var jsTrailerTractorCarrierMapsParent = document.getElementById("JsTrailerTractorCarrierMapsParrent");
    </script>
    @foreach (string s in Model.FirstToRelatedCarrierMap.Keys)
    {
        <input id="Key" type="hidden" asp-for="@s" />
        <input id="Value" type="hidden" asp-for="@Model.FirstToRelatedCarrierMap[s]" />

        <script type="text/javascript">
            {
                let key = document.getElementById("Key");
                let value = document.getElementById("Value");
                carrierToFirstCarrier[key.value] = value.value;
                jsTrailerTractorCarrierMapsParent.removeChild(key);
                jsTrailerTractorCarrierMapsParent.removeChild(value);
            }
        </script>

    }

    <script type="text/javascript">
        var TrailerCarrierMap = {
            CarrierToFirstCarrier: carrierToFirstCarrier

        };
    </script>

    @for (int i = 0; i < Model.FirstCarriers.Count; i++)
    {
        string firstCarrier = @Model.FirstCarriers[i];
        <input id="FirstCarrier" type="hidden" asp-for="@firstCarrier" />

        <script type="text/javascript">
            firstCarrier = document.getElementById("FirstCarrier");
            TrailerCarrierMap[firstCarrier.value] = [];
        </script>

        List<InTrailer> inTrailers = Model.TrailerCarrierMap[firstCarrier];
        foreach (InTrailer iT in inTrailers)
        {
            <input id="Number" type="hidden" asp-for="@iT.Trailer" />
            <input id="Carrier" type="hidden" asp-for="@iT.Carrier" />
            <input id="Status" type="hidden" asp-for="@iT.Status" />
            <script type="text/javascript">
                {
                    let number = document.getElementById("Number");
                    let carrier = document.getElementById("Carrier");
                    let status = document.getElementById("Status");
                    let trailer = newTrailer(carrier.value, number.value, status.value);
                    TrailerCarrierMap[firstCarrier.value].push(trailer);
                    jsTrailerTractorCarrierMapsParent.removeChild(number);
                    jsTrailerTractorCarrierMapsParent.removeChild(carrier);
                    jsTrailerTractorCarrierMapsParent.removeChild(status);
                }
            </script>
        }

        <script type="text/javascript">
            jsTrailerTractorCarrierMapsParent.removeChild(firstCarrier);
        </script>




    }


    <script type="text/javascript">
        var TractorCarrierMap = {
            CarrierToFirstCarrier: carrierToFirstCarrier

        };
    </script>

    @for (int i = 0; i < Model.FirstCarriers.Count; i++)
    {
        string firstCarrier = @Model.FirstCarriers[i];
        <input id="FirstCarrier" type="hidden" asp-for="@firstCarrier" />

        <script type="text/javascript">
            firstCarrier = document.getElementById("FirstCarrier");
            TractorCarrierMap[firstCarrier.value] = [];
        </script>

        List<InTractor> inTractors = Model.TractorCarrierMap[firstCarrier];
        foreach (InTractor iT in inTractors)
        {
            <input id="Number" type="hidden" asp-for="@iT.Tractor" />
            <input id="Carrier" type="hidden" asp-for="@iT.Carrier" />
            <script type="text/javascript">
                {
                    let number = document.getElementById("Number");
                    let carrier = document.getElementById("Carrier");
                    let tractor = newTractor(carrier.value, number.value);
                    TractorCarrierMap[firstCarrier.value].push(tractor);
                    jsTrailerTractorCarrierMapsParent.removeChild(number);
                    jsTrailerTractorCarrierMapsParent.removeChild(carrier);
                }
            </script>
        }

        <script type="text/javascript">
            jsTrailerTractorCarrierMapsParent.removeChild(firstCarrier);
        </script>




    }

    <script type="text/javascript">
            TrailerCarrierMap["GetTrailersFor"] = function (_carrier) {
                carrier = this.CarrierToFirstCarrier[_carrier];
                return this[carrier];
            }

            TractorCarrierMap["GetTractorsFor"] = function (_carrier) {
                carrier = this.CarrierToFirstCarrier[_carrier];
                return this[carrier];
            }
    </script>


</div>

