﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model GateLog.Models.Truck
@using GateLog.Models



<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Print Inbound</title>
    <style>
        table, td, th {
            border: solid;
            border-color: black;
            border-width: 3px;
        }
        td {
            word-wrap: break-word;
            max-width: 400px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</head>
<body>
    @if (@Model.Company == CompanyEnum.ESSENDANT)
    {
        <img src="~/essendant.png" style="width: 30%; height: 15%" />


    }
    else
    {
        <img src="~/ncs.png" style="width: 30%; height: 15%" />
    }
    <div style="margin-left: 5%">
        <div style="font-weight: bolder; font-size: 2.5em; text-decoration: underline">
            <p>Inbound Load</p>
        </div>
        <table style="font-size: 2.5em">
            <tr><th>Company</th><td>@Model.Company</td></tr>
            <tr><th>Carrier</th><td>@Model.Carrier</td></tr>
            <tr><th>Tractor</th><td>@Model.Tractor</td></tr>
            <tr><th>Trailer</th><td>@Model.Trailer</td></tr>
            <tr>
                <th>Trip</th>
                <td>
                    @if (Model.Trip != null && Model.GetTrips().Length > 4)
                    {
                        <span style="font-size: .6em">@Model.Trip</span>

                    }
                    else
                    {

                        @Model.Trip
                    }
                </td>
            </tr>
            <tr><th>Seal</th><td>@Model.Seal</td></tr>
            <tr>
                @if (Model.OnFence == true)
                {
                    <th>Location</th>
                    <td>Fence</td>

                }
                @if (Model.OnFence == false)
                {
                    <th>Door</th>
                    <td>@Model.Door</td>

                }
            </tr>
            <tr>
                <th>
                    Shipper
                </th>
                @if (Model.Shipper != null && Model.Shipper.Length > 20)
                {
                    <td><span style="font-size: .5em">@Model.Shipper</span></td>
                }
                else
                {
                    <td>
                        @Model.Shipper
                    </td>
                }
            </tr>
            <tr>
                <th>Date/Time</th>
                <td>
                    @Model.DateAndTime.Month/@Model.DateAndTime.Day/@Model.DateAndTime.Year
                    @Model.DateAndTime.TimeOfDay.ToString().Substring(0, 5)
                </td>
            </tr>

        </table>
    </div>

    <script type="text/javascript">
        $(document).ready(function () { window.print(); });
    </script>



</body>
</html>