﻿@model GateLog.ViewModels.JsConversionViewModel
@using GateLog.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script type="text/javascript">
    var InTractors = [];
    function newInTractor(_Carrier, _Number) {
        return {
            Carrier: _Carrier,
            Number: _Number,
        };

    }
</script>

<div id="JsInTrailersParentDiv">
    <script type="text/javascript">
        var jsInTrailersParentDiv = document.getElementById("JsInTrailersParentDiv");
    </script>

    @foreach (InTractor iT in Model.InTractors)
    {

        <input type="hidden" id="Carrier" asp-for="@iT.Carrier" />
        <input type="hidden" id="Number" asp-for="@iT.Tractor" />

        <script type="text/javascript">
            {
                let carrier = document.getElementById("Carrier");
                let number = document.getElementById("Number");
                let tractor = newInTractor(carrier.value, number.value);
                InTrailers.push(trailer);
                jsInTrailersParentDiv.removeChild(carrier);
                jsInTrailersParentDiv.removeChild(number);
            }
        </script>

    }
</div>