﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Log Entries";
}
@using GateLog.Models

@using GateLog.ViewModels

@model LogViewModel

<style>
    table, tr, th, td {
        border: none;
        font-weight: bolder;
    }
</style>

@if (Model.LogEntries.Count != 0)
{
    <table class="table table-striped table-hover table-bordered table-primary">

        <tbody>
            @foreach (LogEntry l in Model.LogEntries)
            {
                <tr>
                    <td>@l.DateAndTIme.ToLongDateString()</td>
                    <td>Log Num @l.Id</td>
                    <td>
                        <div style="width: 80%">
                            @l.Text<br />
                        </div>
                    </td>
                </tr>


            }
        </tbody>


    </table>

}
else
{
    <br /><br />
    <div style="margin-left: 42%" class="text-white">No Log Entries As Of Yet.</div>
    <br /><br />

}
@section script{
    <script type="text/javascript">
        button1 = document.getElementById("Log1");
        button2 = document.getElementById("Log2");
        button1.classList.add("active");
        button2.classList.add("active");
    </script>
}
@section header{
    Log
}
