﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Log";
}
@using GateLog.Models

@using GateLog.ViewModels

@model LogEntry

@section header{ 
    Log @Model.Id
}
<style>
    table, tr, th, td {
        border: none;
        font-weight: bolder;
    }
</style>

<table class="table table-bordered table-striped table-hover table-primary">

    <tbody>
        <tr>
            <td>@Model.DateAndTIme.ToLongDateString()</td>
            <td style="font-weight: bolder">Log Num @Model.Id</td>
            <td>
                <div style="width: 80%">
                     @Model.Text<br />
                </div>
            </td>
        </tr>
    </tbody>


</table>


@section script{
    <script type="text/javascript">
            cont = document.getElementById("cont");
            cont.style.marginTop = "10%";
    </script>
}